TextureStitcher/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TextureStitcher/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TextureStitcher/obj/Debug/TextureStitcher.csproj.FileListAbsolute.txt
TextureStitcher/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
TextureStitcher/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TextureStitcher/obj/Release/TextureStitcher.pdb